<ion-header>
  <ion-navbar>
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>Categorias</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <!--*ngFor para iterar pelo items, que deve ter o mesmo nome que está no controlador-->
    <button ion-item (click)="listaProdutosPorCategoria(item.id);" *ngFor="let item of items"> 
      <ion-thumbnail item-start></ion-thumbnail>
      <!--Interpolação do angular para dados da api com o front-->
      <img src="assets/imgs/{{item.id}}.png">
      <!--Interpolação do angular para dados da api com o front-->
      <h2>{{item.nome}}</h2>
    </button>
  </ion-list>
</ion-content>
